################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/Donkey Kong/__pycache__
/pygame-summer-team-jam-main/__pycache__
/pygame-summer-team-jam-main/util/__pycache__
/pygame-summer-team-jam-main/sound_manager/__pycache__
/pygame-summer-team-jam-main/rendering/__pycache__
/pygame-summer-team-jam-main/menus/__pycache__
/pygame-summer-team-jam-main/gameplay/__pycache__
